@charset "utf-8";
@import "normalize";
@import "variables";

%three-column-list {
  text-align: center;
  margin: 0 0 4rem;
  @media screen and (min-width: $big-mobile) {
    width: 33.333%;
    float: left;
    margin: 0;
  }
}

%two-column-thing {
  @media screen and (min-width: $big-mobile) {
    width: 50%;
    float: left;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  color: $dark;
  font-size: 14px;
  background: white;
  min-height: 100%;
  line-height: 1.5;

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

h1 {
  color: $cyan;
  text-align: center;
  margin: 0 0 3rem;
}

section {
  overflow: hidden;
}

.wrapper {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header-wrapper {
  max-width: 1420px;
  margin: 0 auto;
  height: 100%;

  @media screen and (min-width: $big-mobile) {
    padding: 0 2rem;
  }
}

header {
  border-bottom: 0.5rem solid $blue-light;

  @media screen and (min-width: $big-mobile) {
    height: 6rem;
  }

  .wrapper {
    height: 100%;
  }
}

.logo {
  height: 6rem;
  display: block;
  margin: 0 auto;
  padding: 1rem 0;

  @media screen and (min-width: $big-mobile) {
    height: 100%;
    float: left;
  }
}

.navigation {
  width: 100%;
  overflow: hidden;

  @media screen and (min-width: $big-mobile) {
    float: right;
    width: auto;
  }
}

.nav-item {
  display: inline-block;
  float: left;
  width: 33.333%;
  text-align: center;

  @media screen and (min-width: $big-mobile) {
    text-align: left;
  }

  a {
    font-weight: 600;
    text-decoration: none;
    color: $cyan;
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 1rem 0;

    @media screen and (min-width: $big-mobile) {
      padding: 2.5rem 2rem 1.5rem;
    }

    &.active:after, &:hover:after {
      content: "";
      width: 100%;
      height: 0.5rem;
      position: absolute;
      left: 0;
      bottom: -0.5rem;
      background-color: $cyan;
    }
  }
}

.banner {
  background: url("../images/pies_small.jpg") center center no-repeat;
  background-size: auto 100%;
  background-position: center right;
  height: 24rem;
  padding: 1rem 0;

  @media screen and (min-width: $big-mobile) {
    background: url("../images/pies_big@x2.jpg") center center no-repeat;
    background-size: cover;
    background-position: auto;
    height: 60%;
    padding: 8rem 0;
  }
  
  @media screen and (min-width: $big-desktop) {
    .wrapper {
      padding: 0 5rem;
    }
  }
  @media screen and (min-width: $big-desktop) {
    .wrapper {
      padding: 0 12rem;
    }
  }
}

.banner-title {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: $dark;
  text-align: left;
  width: 90%;

  .big-text {
    font-size: 1.7rem;
  }

  @media screen and (min-width: $big-mobile) {
    font-size: 1.5rem;

    .big-text {
      font-size: 2rem;
    }

  }
}
.offers-container, .vets-container, .contact-container {
  padding: 4rem 0;
}

.offer-item {
  @extend %three-column-list;

  ul {
    display: inline-block;
    text-align: left;
  }
}

.offer-icon {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: $cyan;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;

  .prevention & {
    background-image: url("../images/icon-prevention.png");
    background-size: 50%;
  }

  .diagnostics & {
    background-image: url("../images/icon-diagnostics.png");
    background-size: 50%;
  }

  .shop & {
    background-image: url("../images/icon-shop.png");
    background-size: 35%;
  }

}

.service-item {
  margin: 0 0 1.5rem;

  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
    vertical-align: sub;
    background: url("../images/icon-tick.png") center center no-repeat;
    background-size: 100%;
  }
}

.quote-wrapper {
  background-color: $blue-light;
  padding: 4rem 2rem;

  @media screen and (min-width: $big-mobile) {
    padding: 4rem;
  }
}

.quote {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: $asphalt;

  @media screen and (min-width: $big-mobile) {
    width: 90%;
    font-size: 1.5rem;

  }
}

.quote-decor {
  margin: 0 auto;
  font-size: 10rem;
  line-height: 1rem;
  margin-top: 4rem;
  color: $accent;
}

.quote-content {
  margin: 0 0 1rem;
}

.quote-author {
  font-size: 1.2rem;
  color: $blue-grey;
}

.vet {
  @extend %three-column-list;
}

.vet-photo-holder {
  margin: 0 auto 2rem;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 0.4rem solid $blue-light;
  overflow: hidden;
}

.vet-photo {
  width: 100%;
}

.vet-description {
  max-width: 80%;
  margin: 1rem auto;
}

.contact {
  float: left;
  padding: 2rem;
}

.contact-section {
  margin-bottom: 3rem;

  h2 {
    color: $cyan;
  }
}

.map {
  margin: 0 auto;
  padding: 2rem;

  .map-link {
    display: block;
    width: 100%;
  }

  .map-screen  {
    width: 100%;
  }

  iframe {
    display: none;
  }
  @media screen and (min-width: $big-mobile) {

    .map-link {
      display: none;
    }

    iframe {
      display: block;
    }
  }

  @media screen and (min-width: 950px) {
    float: right;
  }
}

footer {
  background-color: $snow;
  padding: 3rem;
  color: #777;
  font-size: 0.9rem;
  text-align: center;
}
