!!! 5
%html
  %head
    %title= "Vet-Med"

    %meta{:content => "IE=edge", :http_equiv => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    %link{:href => "https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag :site
    = javascript_include_tag :all

  %body
    = yield
